In [2]:
# Loading of us_births Dataset using Numpy
import numpy as np
import pandas as pd
using us_births data
us_births = pd.read_csv('C:\\Python Class\\Datascience\\Datasets\\us_births.csv')
us_births.head()

   year  month  day gender  births
0  1969      1  1.0      F    4046
1  1969      1  1.0      M    4440
2  1969      1  2.0      F    4454
3  1969      1  2.0      M    4548
4  1969      1  3.0      F    4548

In [3]:
# Extraction of year, gender and birth column from the Dataset
year = np.array(us_births['year'])
gender = np.array(us_births['gender'])
Births = np.array(us_births['births'])
print("birth year \n",year)
print("gender \n",gender)
print("Births \n",Births)

birth year
 [1969 1969 1969 ... 2008 2008 2008]
gender
 ['F' 'M' 'F' ... 'M' 'F' 'M']
Births
 [  4046   4440   4454 ... 165468 173215 181235]

In [4]:
#computing the aggregation of sum of total birth, sum of female birth and sum of male birth, mean and median
# Births = np.array(us_births['births'])
print("Total birth:  ", Births.sum())
print("male birth sum:", Births[gender == "M"].sum())
print("female birth sum:", Births[gender == "F"].sum())
print("mean birth:   ", Births.mean())
# np.median(Births)
print("median birth: ", np.median(Births))

Total birth:   151774378
male birth sum: 77738555
female birth sum: 74035823
mean birth:    9762.293561458802
median birth:  4814.0

In [9]:
# computing the maximum births and minimum births
print("minimum birth: ", Births.min())
print("maximum birth: ", Births.max())

minimum birth:  1
maximum birth:  199622

In [6]:
# Extraction of the gender with minimum birth and maximum birth
print("max gender birth:",gender[Births.argmax()])
print("min gender birth:",gender[Births.argmin()])

max gender birth: M
min gender birth: F

In [7]:
# extraction of the year with minimum birth and maximum birth
print("max year:",year[Births.argmax()])
print("min year:",year[Births.argmin()])

max year: 2007
min year: 1975